<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
	</br>
	<h2>Qui est-ce ?, la règle du jeu expliquée</h2>
	<p> Dans Qui est-ce ? chaque joueur dispose d'un plateau sur lequel sont représentés les portraits de 24 personnages. 
	Au début de la partie, chaque joueur choisit une carte personnage que son adversaire devra deviner.
	Pour gagner, vous devez être le premier à trouver le personnage mystère de votre adversaire, pour cela, posez les bonnes questions sur l'apparence physique des personnages afin d'en éliminer un maximum à chaque tour et augmenter vos chance de trouver le personnage mystère.
	Lors que vous posez une question à votre adversaire, il ne peut répondre que par OUI ou bien par NON. Si vous avez un OUI, rabattez tous les personnages qui n'ont pas la caractéristique physique demandée. Attention à ne pas se tromper ou en oublier, sinon vous ne trouverez jamais le personnage mystère. jamais. Si votre adversaire vous dit NON, rabattez tous les personnages ayant la caractéristique demandée.
	Exemple : Porte-t-il des lunettes ?
	OUI : Rabattez tous les personnages sans lunettes.
	NON : Rabattez tous les personnages avec lunettes.</p>
	</br>
	<a class="nav-link active" aria-current="page"  href="/jouer">Jouer</a>
</html>